*{
    padding: 0px;
    margin: 0px;
    font-family: "Raleway", sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    background-color: #f8f8f8;
    height: 100px;
    border-bottom: 1px solid #1FBABB;
}

nav ul{
    position: absolute;
    list-style: none;
}

nav ul li{
    font-weight: 300;
    display: inline-block;
    padding: 35px 0px 0px 20px;
    transition: 1s;
}

nav ul li a{
    text-decoration: none;
    color: black;
    transition: 1s;
}

nav ul li a:hover{
    color: #1e7e39;
    font-size: 21px;
    text-shadow: 10px 10px 10px black;
    transition: 1s;
}


